    <a href="/travel/detail/{{id}}">
        <div class="card-header">
            <img src="{{mainImagePath}}" alt="Viaja a {{destiny}} por {{format price}}" class="img-fluid">
        </div>
        <div class="card-body">
            <div>
                <h4>{{destiny}}</h4>
            </div>
            <div>
                <h6>{{format price}}</h6>
            </div>
            <div>
                {{#if discount}}
                <h6 class="text-success">{{extra discount}}</h6>
                {{else}}
                <h6>Descuento No Disponible</h6>
                {{/if}}
            </div>
            <div class="mt-4">
                <p>Ida: {{time dateInit}}</p>
                <p>Vuelta: {{time dateTurn}}</p>
            </div>

        </div>
        <div class="card-footer">
            <h6>Creado por: {{author}} </h6>
        </div>
    </a>